body {
    font-family: Roboto;
}

.row {
    /* margin   : 0 -10px; */
    display  : flex;
    flex-wrap: wrap;
}

.col {
    margin-left : 10px;
    margin-right: 10px;
    box-sizing  : border-box;
}

.head {
    align-items    : center;
    justify-content: space-between;
}

.header {
    background-color: #fff;
    padding         : 5px 0;
}

.logo {
    width         : 25%;
    height        : 20%;
    vertical-align: middle;
}

.names {
    align-items: center;
}

.name {
    font-size: 37px;
}

.subname {
    margin-left: 5px;
    margin-top : 30px;
    font-size  : 14px;
}

.navigation {
    margin-left: 20px;
    font-size  : 20px;
}

.pointer {
    font-size: 20px;
    color    : #53B495;
}

.home {
    color: #53B495;
}

.about-img-1 {
    width      : 100%;
    position   : relative;
    z-index    : 2;
    margin     : 0;
    padding    : 0;
    padding-top: 38px;
}

.why-img-1 {
    width   : 25%;
    position: relative;
    z-index : 2;
}

.about-img-2 {
    width         : 100%;
    /* margin-left: -300px; */
}

.about-img-1-cont {
    width   : 40%;
    position: relative;
    left    : 350px;
}

.about-img-2-cont {
    width: 50%;
}

.paragraph-discription {
    width        : 80%;
    text-align   : left;
    font-size    : 26px;
    color        : #53B495;
    margin-bottom: 0;
    margin-right : 0;
    display      : inline-block;
}

.paragraph-text {
    width        : 90%;
    text-align   : left;
    font-size    : 18px;
    color        : #888888;
    margin-bottom: 0;
    margin-right : 0;
    display      : inline-block;
}

.paragraph-head {
    font-size    : 55px;
    margin-bottom: 0;
    margin-right : 0;
}

body {
    background-color: #fff;
}

.paragraph {
    width     : 40%;
    /* display: inline-block; */
}

.about {
    justify-content: center;
}

.why-us {
    justify-content: center;
}

.mimihead {
    font-size: 26px;
}

.mini-text {
    font-size: 14px;
    color    : #888888;
}

.mini-block {
    width       : 20%;
    height      : 20%;
    margin-right: 2%;
}

.emoji {
    width: 20%;
}

.learn-more-button {
    width                : 180px;
    height               : 40px;
    font-size            : 18px;
    color                : #fff;
    background-color     : #1D9D73;
    border               : 0;
    border-radius        : 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius   : 30px;
    -ms-border-radius    : 30px;
    -o-border-radius     : 30px;
}

a {
    text-decoration: none;
}

.learn-more-href-1,
.learn-more-href-2,
.learn-more-href-3 {
    color: #fff;
}

.learn-more {
    justify-content: center;
}

.check-marker-img {
    width : 41px;
    height: 32px;
}

.how-we-work-img-1 {
    width: 25%;
}

.how-we-work {
    justify-content: center;
}

.how-we-work-text {
    width      : 40%;
    margin-left: 50px;
}

.how-we-work-discription {
    margin-top    : 5px;
    vertical-align: middle;
}

.how-we-work-block-1 {
    margin-top: 20px;
}

.what-we-have-mini-block {
    width        : 45%;
    /* display   : flex; */
    margin-bottom: 20px;
    max-width    : calc(450px + 122px);
}

.what-we-have-head {
    width        : 80%;
    color        : #4DB677;
    font-size    : 35px;
    display      : inline-block;
    margin-bottom: 10px;
    margin-top   : 10px;
}

.what-we-have-text {
    width        : 100%;
    display      : inline-block;
    color        : #888888;
    font-size    : 18px;
    margin-bottom: 0;
}

.what-we-have-text-block {
    width    : 70%;
    display  : inline-block;
    max-width: 450px;
}

.what-we-have-block {
    justify-content: center;
    display        : flex;
}

.what-we-have-img {
    max-width     : 130px;
    max-height    : 130px;
    width         : 100%;
    height        : auto;
    vertical-align: top;
    margin-right  : 2%;
}

.our-team-name {
    font-size : 26px;
    color     : #1D9D73;
    text-align: center;
}

.our-team-text {
    font-size : 18px;
    color     : #888888;
    text-align: center;
}

.our-team-main {
    justify-content: center;
}

.our-team-person-block {
    max-width    : 400px;
    margin-right : 20px;
    margin-bottom: 20px;
}

.last {
    margin-right: 0;
}

.our-team-photo {
    width: 100%;
}

/* .our-team-text-block {
    display        : flex;
    justify-content: center;
} */

.our-team-head-block {
    justify-content: center;
}

.our-team-head {
    font-size      : 55px;
    color          : #333333;
    text-decoration: none;
    font-weight    : normal;
}

.links-footer {
    justify-content: center;
}

.our-team-img-container {
    text-align: center;
}

.internet {
    margin-right: 0;
}

@media (max-width: 1075px) {
    .mini-block {
        width      : 30%;
        margin-left: 40px;
    }
}

.learn-more {
    display: flex;
}

@media (max-width: 750px) {
    .learn-more {
        display        : block;
        justify-content: center;
    }

    .mini-block {
        width        : 80%;
        margin-bottom: 20px;
    }
}